

<div style="display: block; align-content: center">
        <img style="width:320px; display: block; margin-left: auto; margin-right: auto;"  alt='{{ include.altText }}' src='{{ include.imagePath }}' />
</div>
