
<div class="container" style="display: block; align-content: center">
    <a href="{{ include.imagePath }}" data-toggle="lightbox">
        <img class="container post-image"  alt='{{ include.altText }}' src='{{ include.imagePath }}' />
    </a>
</div>
