

<div style="width: 100vw; display: block; align-content: center">
        <img style="width:20vw; display: block; margin-left: 20vw; margin-right: auto;"  alt='{{ include.altText }}' src='{{ include.imagePath }}' />
</div>
