---
interface Props {
    numPosts?: number;
}

const {numPosts = 5} = Astro.props;
import { getSiteConfig } from "../../scripts/getSiteConfig";

const siteConfig = await getSiteConfig();
const fbAppId = siteConfig.facebook.app_id;
const href = Astro.request.url.toString();
console.log("FB-URL:", href);

---
{ siteConfig.facebook.include &&
    <div class="w-full h-fit">
        <div id="fb-root" />
        <script is:inline async defer
                crossorigin="anonymous"
                src=`https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0&appId=${fbAppId}` />

        <div class="fb-comments"
             data-colorscheme="light"
             data-href={href}
             data-width="100%"
             data-numposts={numPosts} />
    </div>

    <script is:inline>

        function setTheme() {
            // Get all fb-comments elements
            const fbComments = document.querySelectorAll('.fb-comments');
            if (!fbComments.length) return;

            // Get theme from localStorage (if set)
            const theme = localStorage.getItem('theme');
            const themeSet = localStorage.getItem('themeSet');
            if (!themeSet) {
                return;
            }

            fbComments.forEach(fbComment => {
                // Update the data attribute for colorscheme
                fbComment.dataset.colorscheme = theme;

                // Force refresh any iframes within this fb-comments element
                fbComment.querySelectorAll('iframe').forEach(iframe => {
                    // Option 1: reassign the same src to force a reload
                    //iframe.src = iframe.src;

                    // Option 2 (if the above doesn't work):
                    // iframe.contentWindow.location.reload();
                });
            });
        }

        setTheme();
    </script>
 }
