{% include read-config.liquid %}

{% assign entry = site.data.bluesky_posted | where:"post_id",page.path | first  %}
{% assign post_uri = entry.post_uri %}
{% assign post_uri_len = post_uri | size %}

{%  if post_uri_len > 0 %}
<link rel="stylesheet" href="/assets/style/custom/comments.css">
<style>

    /* Box sizing border box all containers */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    @layer utilities {
        .rounded-drawn {
            border-radius: 95% 4% 92% 5% / 4% 95% 6% 95%;
        }

        .rounded-drawn-sm {
            border-radius: 64% 4% 32% 5% / 4% 15% 6% 15%;
        }
    }

    .comments-root {
        max-width: 80vw;
    }

</style>
<!-- comments -->
<div id="comments-root" class="comments-root grid auto-cols-fr justify-start w-full max-w-3xl mt-8"></div>
<!-- Include the bundled JavaScript file -->
<script src='{{ "/assets/script/custom/comments/comments.bundle.js" | relative_url }}'></script>
<!-- Initialize the component -->
<script>
    // Provide the necessary props
    // const atprotoURI = 'at://did:plc:i4icu3qqri2fdw423aufa4z7/app.bsky.feed.post/3lbiq565i6z2q';
    const atprotoURI = '{{ post_uri }}'; // include.atprotoURI
    const handle = '{{ config.comments.blueskyusername }}';
    console.log('handle', handle);
    console.log('atprotoURI', atprotoURI);
    // Call the exported function
    CommentsComponent.initializeComments(
        document.getElementById('comments-root'),
        { atprotoURI, handle }
    );
</script>
{%  endif %}

