@layer components {
    /* blog listing page */
    .post-list {
        @apply min-h-full;
        h1 {
            @apply uppercase text-4xl lg:py-2;
        }

        .post-count {
            @apply text-base;
        }

        li > * {
            @apply align-text-top;
        }

        li {
            @apply mb-0 pb-0;
            @apply list-disc  color-text-secondary lg:pb-4;

            a::before {
                @apply underline-link-hover;
                @apply -bottom-1 w-full h-[1px] bg-color-secondary-color;
            }



            .post-thumbnail-wrapper {
                @apply box-content w-fit h-fit max-w-[8vw]; /* max-w-32 max-h-32 */
                @apply mr-4 mt-1;

                .post-thumbnail-link::before {
                    @apply hidden;
                }

                .post-thumbnail {
                    /*@apply max-w-32 max-h-32;*/
                    @apply box-content h-auto w-auto py-[0.5px] px-[0.5px];
                    @apply border-2 border-gray-500 rounded-lg;
                    @apply transition-none;
                    @apply transition-colors duration-300 ease-linear ;
                    @apply hover:border-[var(--primary-color)];
                }
            }
        }
    }

    .pagination-wrapper {
        @apply absolute left-0 -bottom-10 content-center w-full;

        .pagination {
            @apply open-sans-700;
            @apply mx-auto w-fit pt-8 space-x-0.5 flex flex-wrap;

            .pagination-link {
                @apply min-w-8 min-h-8 max-w-8 max-h-8 inline-block;
                @apply text-center text-base leading-7;
                @apply border border-text-secondary;
                @apply color-text-secondary;
                @apply bg-[#FFFFFF20];

                a {
                    @apply block w-full h-full;
                }

                a::before {
                    @apply hidden; /* clear out link animation */
                }
            }


            .pagination-link.disabled {
                @apply text-gray-500;
                @apply bg-[#FFFFFF10];
                /*@apply border border-gray-500;*/
            }

            .pagination-link.active {
                @apply bg-[#FFFFFF40] cursor-pointer;
                @apply color-text-main;

            }

        }
    }
    .blog-archive-link {
        @apply color-secondary-color;
    }


    /* new layouts */
    :root {
        --thumbnail-image-width-card: 288px;
        --thumbnail-image-width-list: 192px;
        --thumbnail-left-offset: 24px;
    }
    /* card layout */

    /* */
    .post-summary-wrapper-card {
        @apply flex flex-col lg:flex-row;
        @apply bg-[var(--background-feature)];
        @apply my-4 lg:my-4 mx-auto;
        @apply p-4 lg:py-3 lg:px-3;
        @apply border rounded-xl border-[var(--text-secondary)];
        @apply h-fit align-top;
    }

    .post-thumbnail-card {
        @apply box-content;
    }

    .post-thumbnail-img-card {
        @apply w-full lg:min-w-[var(--thumbnail-image-width-card)] lg:max-w-[var(--thumbnail-image-width-card)];
        @apply border rounded-xl border-[var(--text-secondary)];
        @apply transition-none;
        @apply transition-colors duration-300 ease-linear ;
        @apply hover:border-[var(--primary-color)];
    }

    .post-title-card {

    }

    .post-title-offset-with-img-card {
        @apply lg:left-0;
    }

    .post-title-offset-no-img-card {
        @apply lg:left-0;
    }

    .post-title-link-card {
        @apply mt-0 lg:pt-0 w-fit;
        @apply normal-case color-secondary-color;
        @apply text-xl lg:text-2xl;
        @apply block relative;
    }



    .post-title-link-card::before {
        @apply underline-link-hover;
        @apply -bottom-0.5 w-full h-[2px] bg-color-secondary-color;
    }


    .post-details-card {
        @apply lg:ml-4 lg:mt-0;
        @apply text-base;
        @apply flex flex-col;
    }

    .post-details-card > *:last-child {
        @apply lg:mt-auto;
    }

    .post-details-body-card {

    }

    .post-excerpt-card {

    }

    .post-item-date-card {

    }
    .post-item-reading-time-card {

    }

    .post-item-author-card {

    }

    .post-item-footer-card {
        @apply mt-1 mb-0;
        @apply flex flex-row;
        @apply color-text-secondary;
        @apply text-[0.8rem] leading-3 font-family-sans-alt;
    }

    .post-item-footer-card > div:not(:first-child)::before {
        content: "•";
        @apply mx-2 lg:mx-4;
    }

    .post-link-card {
        @apply block relative;
        @apply color-primary-color italic py-0;
        @apply text-[1.0rem] leading-3 font-family-sans-alt;
        @apply w-fit pt-4;
    }

    .post-link-card::before {
        @apply underline-link-hover;
        @apply -bottom-0.5 w-[87%] h-[1px] bg-color-primary-color;
    }

    /* */

    /* list layout */
    .post-summary-wrapper-list {

        @apply bg-transparent;
        @apply border-none;

        @apply flex flex-col lg:flex-row;
        @apply my-4 lg:my-4 mx-auto;
        @apply p-4 lg:p-6;
        @apply h-fit align-top;

        @apply relative -top-0 lg:pb-8;

        /*@apply bg-green-500;*/
    }

    .post-thumbnail-list {
        @apply box-content;
        @apply hidden lg:block;
        @apply lg:min-w-[var(--thumbnail-image-width-list)];
    }

    .post-thumbnail-img-list {
        @apply w-full lg:min-w-[var(--thumbnail-image-width-list)] lg:max-w-[var(--thumbnail-image-width-list)];
        @apply border rounded-xl border-[var(--text-secondary)];
        @apply relative top-12;
        @apply transition-none;
        @apply transition-colors duration-300 ease-linear ;
        @apply hover:border-[var(--primary-color)];
    }


    .post-title-list::before {
        content: "•";
        @apply relative hidden lg:inline-block;
        @apply font-bold color-secondary-color;

        @apply lg:-top-2;
        @apply text-xl lg:text-2xl;
    }


    .post-title-link-list {
        @apply mt-0 lg:pt-0;
        @apply normal-case color-secondary-color;
        @apply text-xl lg:text-2xl;
        @apply relative lg:-top-2;
        /*@apply bg-yellow-400;*/
        @apply inline-block relative;

    }
    .post-title-offset-with-img-list {
        @apply lg:relative lg:-left-[calc(var(--thumbnail-image-width-list)+var(--thumbnail-left-offset))];

        @apply w-[calc(100%+var(--thumbnail-image-width-list)+var(--thumbnail-left-offset))];
    }

    .post-title-offset-no-img-list {
        @apply lg:relative lg:-left-[var(--thumbnail-left-offset)];
    }

    .post-title-offset-list::before {
        /*@apply lg:-left-[324px];*/
    }

    .post-title-link-list::before {
        @apply underline-link-hover;
        @apply -bottom-0.5 w-full h-[2px] bg-color-secondary-color;
    }


    .post-details-list {
        @apply lg:ml-4 lg:mt-0;
        @apply text-base;
        /*@apply bg-blue-500;*/
        @apply relative top-4;
    }

    .post-details-body-list {
        @apply h-fit lg:h-full;
        /*@apply max-w-prose;*/
        @apply flex;
        @apply flex-col-reverse lg:flex-col;
        /*@apply bg-orange-500;*/
    }

    .post-item-footer-list {
        @apply mt-0 mb-2;
        @apply flex flex-row flex-wrap;
        @apply color-text-secondary;
        @apply text-[0.8rem] leading-3 font-family-sans-alt;
    }

    .post-link-list {
        @apply block relative;
        @apply color-primary-color italic py-0;
        @apply text-[0.8rem] leading-3 font-family-sans-alt;
        @apply w-fit lg:pt-2;
        @apply z-10;
        @apply lg:-top-8;
    }

    .post-link-list::before {
        @apply underline-link-hover;
        @apply -bottom-0.5 w-[87%] h-[1px] bg-color-primary-color;
    }

    .post-item-date-list {

    }

    .post-item-author-list {

    }

    .post-item-reading-time-list {

    }

    .post-item-footer-list > div:not(:first-child)::before {
        content: "•";
        @apply mx-2 lg:mx-4;
    }

    .post-excerpt-list {
        /*@apply bg-red-500;*/
        /*@apply lg:max-w-3xl*/
    }

    /*  custom settings */


    /* ********************************** */
    /* small: list view, large: card view */
    /* ********************************** */
    .post-summary-wrapper-sm-list-lg-card {
        @apply max-lg:post-summary-wrapper-list lg:post-summary-wrapper-card;
    }

    .post-thumbnail-sm-list-lg-card {
        /*@apply post-thumbnail-list;*/
        @apply max-lg:post-thumbnail-list lg:post-thumbnail-card;
    }

    .post-thumbnail-img-sm-list-lg-card {
        /*@apply post-thumbnail-img-list;*/
        @apply max-lg:post-thumbnail-img-list lg:post-thumbnail-img-card;
    }

    .post-details-sm-list-lg-card {
        @apply max-lg:post-details-list lg:post-details-card;
    }

    .post-title-sm-list-lg-card {
        @apply max-lg:post-title-list lg:post-title-card;
    }

    .post-title-offset-with-img-sm-list-lg-card {
        @apply max-lg:post-title-offset-with-img-list lg:post-title-offset-with-img-card;
    }

    .post-title-offset-no-img-sm-list-lg-card {
        @apply max-lg:post-title-offset-no-img-list lg:post-title-offset-no-img-card;
    }

    .post-title-link-sm-list-lg-card {
        @apply max-lg:post-title-link-list lg:post-title-link-card;
    }

    .post-details-body-sm-list-lg-card {
        @apply max-lg:post-details-body-list lg:post-details-body-card;
    }

    .post-excerpt-sm-list-lg-card {
        @apply max-lg:post-excerpt-list lg:post-excerpt-card;
    }

    .post-item-footer-sm-list-lg-card {
        @apply max-lg:post-item-footer-list lg:post-item-footer-card;
    }

    .post-item-date-sm-list-lg-card {
        @apply max-lg:post-item-date-list lg:post-item-date-card;
    }

    .post-item-reading-time-sm-list-lg-card {
        @apply max-lg:post-item-reading-time-list lg:post-item-reading-time-card;
    }

    .post-item-author-sm-list-lg-card {
        @apply max-lg:post-item-author-list lg:post-item-author-card;
    }

    .post-link-sm-list-lg-card {
        @apply max-lg:post-link-list lg:post-link-card;
    }

    /* ********************************** */
    /* small: card view, large: list view */
    /* ********************************** */
    .post-summary-wrapper-sm-card-lg-list {
        @apply max-lg:post-summary-wrapper-card lg:post-summary-wrapper-list;
    }

    .post-thumbnail-sm-card-lg-list {
        @apply max-lg:post-thumbnail-card lg:post-thumbnail-list;
    }

    .post-thumbnail-img-sm-card-lg-list {
        /*@apply post-thumbnail-img-card;*/
        @apply max-lg:post-thumbnail-img-card lg:post-thumbnail-img-list;
    }

    .post-details-sm-card-lg-list {
        @apply max-lg:post-details-card lg:post-details-list;
    }

    .post-title-sm-card-lg-list {
        @apply max-lg:post-title-card lg:post-title-list;
    }

    .post-title-offset-with-img-sm-card-lg-list {
        @apply max-lg:post-title-offset-with-img-card lg:post-title-offset-with-img-list;
    }

    .post-title-offset-no-img-sm-card-lg-list {
        @apply max-lg:post-title-offset-no-img-card lg:post-title-offset-no-img-list;
    }

    .post-title-link-sm-card-lg-list {
        @apply max-lg:post-title-link-card lg:post-title-link-list;
    }

    .post-details-body-sm-card-lg-list {
        @apply max-lg:post-details-body-card lg:post-details-body-list;
    }

    .post-excerpt-sm-card-lg-list {
        @apply max-lg:post-excerpt-card lg:post-excerpt-list;
    }

    .post-item-footer-sm-card-lg-list {
        @apply max-lg:post-item-footer-card lg:post-item-footer-list;
    }

    .post-item-date-sm-card-lg-list {
        @apply max-lg:post-item-date-card lg:post-item-date-list;
    }

    .post-item-reading-time-sm-card-lg-list {
        @apply max-lg:post-item-reading-time-card lg:post-item-reading-time-list;
    }

    .post-item-author-sm-card-lg-list {
        @apply max-lg:post-item-author-card lg:post-item-author-list;
    }

    .post-link-sm-card-lg-list {
        @apply max-lg:post-link-card lg:post-link-list;
    }

    /* ********************************** */
    /* small: card view, large: card view */
    /* ********************************** */

    .post-summary-wrapper-sm-card-lg-card {
        @apply post-summary-wrapper-card;
    }

    .post-thumbnail-sm-card-lg-card {
        @apply post-thumbnail-card;
    }

    .post-thumbnail-img-sm-card-lg-card {
        @apply post-thumbnail-img-card;
    }

    .post-details-sm-card-lg-card {
        @apply post-details-card;
    }

    .post-title-sm-card-lg-card {
        @apply post-title-card;
    }


    .post-title-offset-with-img-sm-list-lg-card {
        @apply post-title-offset-with-img-card;
    }

    .post-title-offset-no-img-sm-list-lg-card {
        @apply post-title-offset-no-img-card;
    }


    .post-title-link-sm-card-lg-card {
        @apply post-title-link-card;
    }

    .post-details-body-sm-card-lg-card {
        @apply post-details-body-card;
    }

    .post-excerpt-sm-card-lg-card {
        @apply post-excerpt-card;
    }

    .post-item-footer-sm-card-lg-card {
        @apply post-item-footer-card;
    }

    .post-item-date-sm-card-lg-card {
        @apply post-item-date-card;
    }

    .post-item-reading-time-sm-card-lg-card {
        @apply post-item-reading-time-card;
    }

    .post-item-author-sm-card-lg-card {
        @apply post-item-author-card;
    }

    .post-link-sm-card-lg-card {
        @apply post-link-card;
    }

    /* ********************************** */
    /* small: list view, large: list view */
    /* ********************************** */

    .post-summary-wrapper-sm-list-lg-list {
        @apply post-summary-wrapper-list;
    }

    .post-thumbnail-sm-list-lg-list {
        @apply post-thumbnail-list;
    }

    .post-thumbnail-img-sm-list-lg-list {
        @apply post-thumbnail-img-list;
    }

    .post-details-sm-list-lg-list {
        @apply post-details-list;
    }

    .post-title-sm-list-lg-list {
        @apply post-title-list;
    }

    .post-title-offset-with-img-sm-list-lg-list {
        @apply post-title-offset-with-img-list;
    }

    .post-title-offset-no-img-sm-list-lg-list {
        @apply post-title-offset-no-img-list;
    }

    .post-title-link-sm-list-lg-list {
        @apply post-title-link-list;
    }

    .post-details-body-sm-list-lg-list {
        @apply post-details-body-list;
    }

    .post-excerpt-sm-list-lg-list {
        @apply post-excerpt-list;
    }

    .post-item-footer-sm-list-lg-list {
        @apply post-item-footer-list;
    }

    .post-item-date-sm-list-lg-list {
        @apply post-item-date-list;
    }

    .post-item-reading-time-sm-list-lg-list {
        @apply post-item-reading-time-list;
    }

    .post-item-author-sm-list-lg-list {
        @apply post-item-author-list;
    }

    .post-link-sm-list-lg-list {
        @apply post-link-list;
    }
}
