@layer base {
    :root {
        --background-image: url('/src/assets/images/hiivelabs.com/hiive-background-light.png');
        --background-body: #dddddd;
        --background-feature: #eeeeee;
        --text-main: #36393b;
        --text-secondary: #6b6f72;
        --primary-color: #ff6707;
        --primary-color-alt: #FF9717;
        --primary-color-contrast: #fff;
        --secondary-color: #ee4707;
        --heading-color: #dd4700;
        --text-highlight-color: #001B84;
        --text-code-color: #001B84;
        --font-family-serif: Merriweather, serif;
        --font-family-sans: 'Fira Sans', sans-serif;
        --font-family-sans-alt: "Roboto", sans-serif;
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bg-quote-block: #00000020;
    }

    :root.theme-dark {
        --background-image: url('/src/assets/images/hiivelabs.com/hiive-background-dark.png');
        --background-body: #202122;
        --background-feature: #28292A;
        --text-main: #fff;
        --text-secondary: #ccc;
        --text-highlight-color: #FFE38D;
        --text-code-color: #FFE38D;
        --primary-color: #ff6707;
        --primary-color-alt: #ee5700;
        --secondary-color: #ffA707;
        --heading-color: #ff6707;
        --bg-quote-block: #CCCCCC20;
    }
}
