@layer base {
    :root {
        --theme-color: #FFFFFF;
        --background-image: url('/src/assets/images/hiivelabs.com/hiive-background-light.png');
        --background-body: #dddddd;
        --background-feature: #eeeeee;
        --text-main: #16191b;
        --text-secondary: #4b4f52;
        --primary-color: #ff6707;
        --primary-color-alt: #FF9717;
        --primary-color-contrast: #fff;
        --secondary-color: #ee4707;
        --heading-color: #dd4700;
        --text-highlight-color: #001B84;
        --text-highlight-color-alt-green: #4a5a23;
        --text-highlight-color-alt-blue: #234a5a;
        --text-highlight-color-alt-purple: #3e235a;
        --text-code-color: #001B84;
        --font-family-serif: Merriweather, serif;
        --font-family-sans: 'Fira Sans', sans-serif;
        --font-family-sans-alt: "Roboto", sans-serif;
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bg-quote-block: #00000020;
        --hiive-green: #006400; /* Dark Green */
    }

    :root.theme-dark {
        --theme-color: #000000;
        --background-image: url('/src/assets/images/hiivelabs.com/hiive-background-dark.png');
        --background-body: #202122;
        --background-feature: #28292A;
        --text-main: #fff;
        --text-secondary: #bbb;
        --text-highlight-color: #FFE38D;
        --text-highlight-color-alt-green: #d8e5b3;
        --text-highlight-color-alt-blue: #b3d8e5;
        --text-highlight-color-alt-purple: #eed3e5;
        --text-code-color: #FFE38D;
        --primary-color: #ff6707;
        --primary-color-alt: #ee5700;
        --secondary-color: #ffA707;
        --heading-color: #ff6707;
        --bg-quote-block: #CCCCCC20;
        --hiive-green: #00CC00; /* Light Green */
    }
}
