@layer components {
    /* navbar site logo */


    /* navbar container */
    .navbar {
        @apply bg-color-background-feature;
        --logo-height-large: 24px;
        --logo-height-small: 30px;
        a {
            @apply text-inherit text-lg block relative ml-2 bottom-0;
            /*@apply relative top-[calc(var(--logo-height)-36px)];*/
            @apply h-[var(--logo-height)] ;
        }

        a:not(.selected) {
            @apply lg:opacity-70;
        }

        a::before {
            @apply underline-link-hover;
            @apply bg-color-text-secondary bottom-1 w-full h-0.5;
            @apply align-bottom
        }

        .selected::before {
            @apply scale-x-100 bg-color-primary-color;
        }


        .site-logo {
            @apply h-[var(--logo-height-small)] min-h-[var(--logo-height-small)];
            @apply lg:h-[var(--logo-height-large)] lg:min-h-[var(--logo-height-large)];
            /*@apply relative top-[calc(var(--logo-height)-48px)];*/
            @apply relative top-[calc(var(--logo-height-small)-36px)] lg:top-[calc(var(--logo-height-large)-26px)];
            @apply w-fit max-w-fit min-w-fit;
        }
    }
}
