@layer base {
    :root {
        --tw-bg-opacity: 1.0;
        --theme-color: 255 255 255;
        --background-image: url('/src/assets/images/thewriteplace.rocks/kojika-background-light.png');
        --background-body: 221 221 221;
        --background-feature: 238 238 238;
        --background-mid: 208 208 208;
        --text-main: 22 25 27;
        --text-secondary: 75 79 82;
        --primary-color: 46 139 87; /* Primary Green (SeaGreen) */
        --primary-color-alt: 102 205 170; /* Light Green */
        --green-menu-bar-text: 46 139 87;
        --primary-color-contrast: 255 255 255;
        --secondary-color: 34 139 34; /* Forest Green */
        --heading-color: 00 100 00; /* Dark Green */
        --text-highlight-color: 00 27 132;
        --text-highlight-color-alt-green: 74 90 35;
        --text-highlight-color-alt-blue: 35 74 90;
        --text-highlight-color-alt-purple: 62 35 90;
        --text-code-color: 00 27 132;
        --font-family-serif: Merriweather, serif;
        --font-family-sans: 'Fira Sans', sans-serif;
        --font-family-sans-alt: "Roboto", sans-serif;
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bg-quote-block: 00 00 00 32;
        --hiive-green: 00 100 00; /* Dark Green */
    }

    :root.theme-dark {
        --tw-bg-opacity: 1.0;
        --theme-color: 00 00 00;
        --background-image: url('/src/assets/images/thewriteplace.rocks/kojika-background-dark.png');
        --background-body: 32 33 32;
        --background-feature: 40 41 42;
        --background-mid: 64 64 64;

        --text-main: 255 255 255;
        --text-secondary: 187 187 187;
        --text-highlight-color: 255 227 141;
        --text-highlight-color-alt-green: 216 229 179;
        --text-highlight-color-alt-blue: 179 216 229;
        --text-highlight-color-alt-purple: 238 211 229;
        --text-code-color: 255 227 141;
        --primary-color: 46 204 87; /* SeaGreen */
        --primary-color-alt: 34 204 34; /* Forest Green */
        --green-menu-bar-text: 102 205 170;
        --secondary-color: 102 255 32; /* Medium Aquamarine */
        --heading-color: 00 204 00; /* Light Green */
        --bg-quote-block: 204 204 204 20;
        --hiive-green: 00 204 00; /* Light Green */
    }
}
