@layer components {
    /* navbar site logo */


    /* navbar container */
    .navbar {
        @apply bg-color-background-feature;

        a {
            @apply text-inherit text-lg block relative ml-2;
        }

        a:not(.selected) {
            @apply opacity-70;
        }

        a::before {
            @apply underline-link-hover;
            @apply bg-color-text-secondary bottom-1 w-full h-0.5;
        }

        .selected::before {
            @apply scale-x-100 bg-color-primary-color;
        }

        .site-logo {
            @apply h-[21px] min-h-[21px] relative -top-0.5 pb-[5px] w-fit max-w-fit min-w-fit;
        }
    }
}
