---
import ThemedImage from "src/components/ThemedImage.astro";

export const frontmatter = {
    title: 'Contact Us',
    description: 'Contact Details.'
};

---

<style is:inline>
    .hidden-email {
        display: none;
        text-align: center;
        color:var(--secondary-color);
    }
</style>
<div class="contact">

    <h2 class="flex justify-center text-center">We can be reached at:</h2>

    <table>
        <!-- em@il-->
        <tr>
            <td class="left">
                <ThemedImage id="email-icon"
                             alt="Email"
                             src="/src/assets/images/shared/contact/email-[THEME].svg"
                             class="align-middle relative -top-0.5"
                />
            </td>
            <td class="right">
                <span class="hidden-email">thewriteplacerocks</span><span>@</span><span class="hidden-email">gmail.com</span>
            </td>
        </tr>
        <!-- bluesky -->
        <tr>
            <td class="left">
                <ThemedImage id="bluesky-icon"
                             alt=Bluesky"
                             src="/src/assets/images/shared/contact/bluesky.svg"
                             class="align-middle"/>
            </td>
            <td class="right">
                <span>@</span><a class="bluesky" href="https://bsky.app/profile/kojika.bsky.social" target="_blank">kojika.bsky.social</a>
            </td>
        </tr>
    </table>

</div>

<style is:inline>
    .hidden-email {
        display: inline;
    }
</style>
