@use "astro-breadcrumbs/breadcrumbs.scss" with (
  /// Your config goes here
  /// $size-font: 12px;
  /// $color-link: rebeccapurple;

  $overflow-behavior: "ellipsis",
  $color-link: var(--primary-color),
  $color-hover-link: var(--text-main),
  $color-separator: var(--text-secondary),
  $color-is-current: var(--secondary-color),
  $color-is-index: var(--primary-color-alt),
  $size-font: 14px,
  $overflow-wrap-horizontal-spacing: 10px,
  $spacing-vertical-separator: 8px,
  $icons-not-bigger-than-font-size: true,
  $transition-link-breadcrumbs: all 0.3s ease,
  $truncated: true,
);



/* breadcrumb */
.c-breadcrumbs {
  @apply max-h-4 w-full min-h-6;
  @apply border-t-[1px] border-[var(--background-mid)] border-opacity-100;
  .c-breadcrumbs__crumbs {
    @apply pl-2 pt-0.5 lg:pl-6 w-full max-w-full;

    @apply bg-[var(--background-feature)];
    @apply pb-2;
  }

  .c-breadcrumbs__crumb {
    //@apply mb-0 text-ellipsis overflow-hidden whitespace-nowrap;
    @apply pt-0.5;
  }

  .c-breadcrumbs__link {
    @apply text-ellipsis overflow-hidden whitespace-nowrap;
  }
  .c-breadcrumbs__link:where(.is-index) {
    @apply min-w-4 min-h-4;
  }
  .crumb-index-img {
    @apply w-[14px] h-[14px];
    @apply relative top-[1px];
  }
}

