---
interface Props {
    wiki_id: string;
    class?: string;
    showIcon?: boolean;
}

const {
    wiki_id,
    class:className = "",
    showIcon = true,
    ...rest
} = Astro.props;

---
<a href=`https://en.wikipedia.org/wiki/${wiki_id}`
   class=`wiki-link ${className}`
   title="Open Wikipedia page..."
   target="_blank"
   {...rest}>
    <slot />
    {showIcon &&
    <svg width="17" height="17" viewBox="0 0 16 16" version="1.1"
         class="inline relative -top-0.5"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
            <g transform="matrix(1,0,0,1,0.477037,1.27704)">
                <g>
                    <g transform="matrix(0.333743,0,0,0.333743,-0.273383,-0.775891)">
                        <path d="M44.477,9.064L44.477,38.045C44.477,41.103 41.994,43.585 38.936,43.585L9.955,43.585C6.897,43.585 4.415,41.103 4.415,38.045L4.415,9.064C4.415,6.006 6.897,3.523 9.955,3.523L38.936,3.523C41.994,3.523 44.477,6.006 44.477,9.064Z"
                              style="fill:url(#_Radial1);stroke:var(--text-secondary);stroke-width:1px;"/>
                    </g>
                    <g transform="matrix(0.333743,0,0,0.333743,-0.273383,-0.775891)">
                        <path d="M43.294,8.911L43.294,38.197C43.294,40.518 41.41,42.403 39.089,42.403L9.803,42.403C7.482,42.403 5.597,40.518 5.597,38.197L5.597,8.911C5.597,6.59 7.482,4.706 9.803,4.706L39.089,4.706C41.41,4.706 43.294,6.59 43.294,8.911Z"
                              style="fill:none;stroke:var(--primary-color-contrast);stroke-width:1px;"/>
                    </g>
                    <g transform="matrix(0.36303,0,0,0.351996,1.6705,3.17426)">
                        <path d="M24.338,3L24.338,3.506C23.591,3.624 23.026,3.834 22.642,4.135C22.093,4.581 21.605,5.265 21.18,6.186L13.102,21.963L12.526,21.963L5.344,5.98C4.94,5.16 4.655,4.659 4.489,4.477C4.23,4.194 3.908,3.975 3.524,3.82C3.151,3.656 2.643,3.551 2,3.506L2,3L10.618,3L10.618,3.506C9.643,3.588 9.01,3.734 8.72,3.943C8.43,4.153 8.284,4.422 8.284,4.75C8.284,5.206 8.523,5.917 9,6.883L13.646,17.752L19.344,7.02C19.832,5.962 20.076,5.229 20.076,4.818C20.076,4.554 19.925,4.303 19.624,4.066C19.324,3.82 18.816,3.647 18.1,3.547C18.048,3.538 17.96,3.524 17.836,3.506L17.836,3L24.338,3Z"
                              style="fill:currentColor;fill-rule:nonzero;"/>
                        <path d="M32.338,3L32.338,3.506C31.591,3.624 31.026,3.834 30.642,4.135C30.093,4.581 29.605,5.265 29.18,6.186L21.822,21.963L21.247,21.963L13.344,5.98C12.94,5.16 12.655,4.659 12.489,4.477C12.23,4.194 11.908,3.975 11.524,3.82C11.151,3.656 10.643,3.551 10,3.506L10,3L18.618,3L18.618,3.506C17.643,3.588 17.01,3.734 16.72,3.943C16.43,4.153 16.284,4.422 16.284,4.75C16.284,5.206 16.523,5.917 17,6.883L22.367,17.752L27.344,7.02C27.832,5.962 28.076,5.229 28.076,4.818C28.076,4.554 27.925,4.303 27.624,4.066C27.324,3.82 26.816,3.647 26.1,3.547C26.048,3.538 25.96,3.524 25.836,3.506L25.836,3L32.338,3Z"
                              style="fill:currentColor;fill-rule:nonzero;"/>
                    </g>
                </g>
            </g>
            <defs>
            <radialGradient id="_Radial1" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(40.9605,0,0,40.9605,24.4457,35.8782)">
                <stop offset="0" style="stop-color:var(--background-feature);stop-opacity:1"/>
                <stop offset="1" style="stop-color:var(--background-body);stop-opacity:1"/></radialGradient>
        </defs>
    </svg>
    }
</a>
