---
interface Props {
    name: string;
    url?: string;
}

import SvgExternalLink from 'src/assets/images/shared/links/-external-link.svg';

const { name, url } = Astro.props;
// Remove everything up to and including "//" and trailing slashes
const displayUrl = url
    ?.replace(/^.*?\/\//, '')
    .replace(/\/+$/, '');

---
<div class="text-nowrap">
    <h3>{name}</h3>
    {url ?
        <a href={url} target="_blank" rel="noopener noreferrer">
            {displayUrl}
            <SvgExternalLink class="inline w-[0.8em] h-[0.8em]" />
        </a>
        : ""
    }
</div>
<div>
    <slot/>
    <hr class="lg:hidden opacity-25" />
</div>
