---
// title: About
import BaseLayout from '../layouts/BaseLayout.astro';
import {buildPermalink} from "../scripts/urlUtils";

import Biography from '../components/about/Biography.astro';
import Thanks from '../components/about/Thanks.astro';

const title = 'About';
const description = 'About hiivelabs.';
const permalink = buildPermalink(Astro.site.href, Astro.url.pathname);

---
<BaseLayout title={title} description={description} permalink={permalink} current="/about">
    <div class="about">
        <!--This dummy entry needs to be here because of a weird transition bug that sometimes hides the first bio-->
        <!--BEGIN dummy bio-->
        <div class="bio" />
        <!--END dummy bio -->
        <Biography id="hiive"
                   alt="hiive"
                   class="bio"
                   src="/src/assets/images/hiivelabs.com/about/hiive-portrait.png">
            <h2>hiive</h2>
            <p>
                hiive is an ex-UK resident who currently lives in a bunker located in places unknown. He has a BSc in
                Physics, an MSc in ML/AI, and currently earns his keep as a Lead Data Engineer and Subject-Matter Expert
                (SME) for the use of ML/AI in medical research and other fields.
            </p>
            <p>
                hiive has written several books, all connected in some way or other with his love of games. The most notable
                of these being a very well-received book on game architecture and design, which has been the reference for
                many college and secondary education courses. In his spare time, you may see him working on games.
                He, sadly, does not have much time to play them anymore.
                He has been writing software professionally for since the last millennium, and is knowledgeable across a
                wide range of industries and programming languages, ranging from BASIC and Z80 assembler in the early days,
                through C/C++, and out the other side to Python, C# and (more recently) Rust.
            </p>
            <p>
                Note that his avatar is not really what he actually looks like. However, it is what AI thinks he looks like
                based on a text description and an uploaded photo. He'll take it.
            </p>
        </Biography>

        <Biography id="kojika"
                   alt="kojika"
                   class="bio"
                   src="/src/assets/images/hiivelabs.com/about/kojika-portrait.png">
            <h2>Kojika</h2>
            <p>
                Kojika is a writer and game designer with a passion for creating inclusive and accessible experiences.
                Her keen interest in accessibility drives her to develop games and stories that are enjoyable and engaging
                for all audiences, regardless of their abilities.
            </p>
            <p>
                Kojika continually seeks to broaden her knowledge and skills in the industry,
                staying updated on the latest accessibility practices and innovations. Her dedication to inclusivity not
                only enhances her creative projects but also contributes to making the world of gaming and literature more
                welcoming and accommodating for everyone.
            </p>
            <p>
                Kojika is a skilled writer and story-teller, and is currently learning Python and Web Programming so that
                she doesn't have to keep asking hiive to write programs for her.
            </p>
            <p>
                Her avatar is far closer to her real-life appearance than hiive's. We'll take it.
            </p>
        </Biography>

        <div class="special-thanks">
            ## Special Thanks
            <hr/>
            <div class="grid grid-cols-1 lg:grid-cols-[min-content_1fr] gap-4">
                <Thanks name="Noun Project" url="https://thenounproject.com/">
                    <p>
                    Most of the icons on this site are works derived from assets found on The Noun Project. Their core
                    belief is that visual language has the power to change the world. If you're looking for visual
                    assets to represent the most generic or specific of concepts, visit their site. You'll find tons of
                    high-quality icons and images for just about any topic.
                    </p>
                </Thanks>
                <Thanks name="Spotlight" url="https://github.com/nextapps-de/spotlight">
                    <p>
                    The image lightbox and gallery functionality of this site are provided by the excellent Spotlight.js
                    library, a javascript library that pretty much did exactly what I wanted straight out of the box.
                    </p>
                </Thanks>
                <Thanks name="Github Pages" url="https://pages.github.com/">
                    <p>
                    This content is hosted on GitHub Pages. They make it easy to create and host websites for you and
                    your projects. Your content is hosted directly from your GitHub repository. Just edit, push, and
                    your changes are live. It couldn't be easier.
                    </p>
                </Thanks>
                <Thanks name="Joseph B. Hall" url="https://joehall.net/">
                    <p>
                    Joseph Hall is responsible for the design and layout of the previous site, and the current version
                    is heavily inspired by his original design.
                    </p>
                </Thanks>
            </div>
        </div>
    </div>
</BaseLayout>

<script is:inline data-astro-rerun>
    // this block of script is a workaround for a bizarre Astro quirk/bug that I haven't figured out
    // sometimes the first bio block is set as hidden, so I'm just making sure that any 'hidden' attributes
    // are removed from the relevant block.

    const bios = document.querySelectorAll('div.bio'); // Select all bios

    bios.forEach(bio => {
        if (bio.classList.contains('hidden')) {
            bio.classList.remove('hidden');
            console.warn('hidden class removed from bio');
        }
    });
</script>
