---
import {YouTube} from "@astro-community/astro-embed-youtube";
interface Props {
    youtubeId: string;
    caption: string;
}

const {youtubeId, caption} = Astro.props;
---

<YouTube id={youtubeId} class="ml-4 mb-4" />
<div class="lightbox-caption">VIDEO: {caption}</div>
