---
interface Props {
    text: string;
    id?: string;
    class?: string;
    style?: string;
}

const { text, id, class: className = '', style = ''} = Astro.props;
---
<span id={id} class={className} style={style}>{text}</span>
